*{
	margin: 0;
	padding: 0;
}

body{
  font-family: 'DIN', sans-serif;
	background: #FEFEFB;
}

a {
	text-decoration: none;
}

li {
	text-decoration: none;
	list-style: none;
}

.header-1{
  width: 1408px;
  height: 100px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.08);
}

.record-1{
	text-align: center;
}

.header_ul-1{
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
}

.header-ul{
  font-weight: 400px;
  /*font-size: 22px;*/
  line-height: 30px;
  color: #000000;
}
.header-ul:hover{
	color: #472a3f;
	transition: .2s all;
	font-weight: 600;
	font-size: 18px;
}

.header-record{
  margin-top: 35px;
  padding-left: 40px;
}

.img-1{
  margin-left: 100px;
  margin-top: -50px;
}

.img-2{
  margin-left: 970px;
  margin-top: -50px;
}

.button{
  margin-left: 1170px;
  margin-top: -50px;
}

.button-record{
  display: block;
  width: 200px;
  height: 60px;

  text-align: center;
	text-decoration: none;

	line-height: 60px;
	border: 1px solid #5B6460;
  background: #5B6460;
  color: #FFFFFF;
}
.button-record:hover{
  background: #472a3f;
  transition: all 0.3s ease-in-out;
}

.main-1{
	display: flex;
}

.main-button-2{
	margin-left: 100px;
  margin-top: -50px;
}

.button-record-1{
	display: inline-block;
  width: 263px;
  height: 100px;

  text-align: center;
	text-decoration: none;

	font-style: normal;
	font-weight: 300;
	font-size: 18px;

	line-height: 100px;
	border: 1px solid #5B6460;
  background: #5B6460;
  color: #FFFFFF;
}
.button-record-1:hover{
  background: #472a3f;
  transition: all 0.3s ease-in-out;
}

.main-block{
	display: inline-block;
	width: 120px;
	height: 102px;
	margin-top: -50px;

	background: #E9ECE0;
}
/*.header-ul:hover{
  font-size: 26px;
  font-weight: 600;
	color: #3A3C41;
}*/

.main-block-record-1{
	display: block;
	margin-left: 27px;
	margin-top: 25px;

	font-style: normal;
	font-weight: 300;
	font-size: 12px;

	color: #333333;
}

.main-block-record-2{
	margin-left: 25px;
	margin-top: 5px;
}

.main-block-record-3{
	margin-left: 37px;

	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;

	color: #333333;
}

.main-blok-1{
  display: block;
  margin-top: 210px;
}

.main-record{

}

.main-record-1{
	width: 800px;
	height: 100px;
	margin-left: 490px;
	margin-top: -550px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 70px;
	line-height: 72px;

	text-align: right;

	color: #FFFFFF;
}

.main-record-2{
	margin-left: 560px;
	margin-top: 0px;

	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;

	text-align: center;

	color: #FFFFFF;
}

.record-2{
  margin-left: 147px;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120px;

  color: #5B6460;
}

.record-3{
  margin-left: 147px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;

  color: #5B6460;
}

.img-4{
  display: flex;
  margin-left: 713px;
  margin-top: -287px;
}

.record-4{
  margin-left: 147px;
  margin-top: -120px;
}

.record-4-1{
  text-decoration: underline;
  font-size: 20px;
  font-style: normal;
  color: #5B6460;
}

.main-blok-1{

  margin-top: 600px;
}

.main-blok-2{
  display: flex;
  margin-top: 250px;
}

.img-5{
  padding-left: 37px;
}

.main-blok-3{
	width: 1405px;
	Height: 650px;
  margin-top: 120px;
}

.main-blok-3-1{
	margin-left: 700px;
	margin-top: -700px;
}

.main-blok-3-2{
  margin-left: 100px;
  margin-top: 140px;
}

.ellipse{
	margin-top: -100px;
}

.img-6-1{
	margin-left: 260px;
	margin-top: -240px;
}

.img-6-2{
	margin-top: -158px;
	margin-left: 282px;
}

.img-6-3{
	margin-top: -118px;
	margin-left: 302px;
}

.record-7-2{
	margin-left: -705px;
		margin-top: -65px;
	font-family: 'DIN';
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;

	text-align: center;
	text-transform: uppercase;

	color: #333333;
}

.record-5{
  margin-left: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;

  line-height: 120px;
  color: #5B6460;
}

.record-6{
  display: block;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;

  color: #5B6460;
}

.record-7{
  margin-top: 30px;
}

.record-7-1{
  text-decoration: underline;
  font-size: 20px;
  font-style: normal;
  color: #5B6460;
}

.main-blok-4{

}

.record-8{
  display: flex;

  margin-top: -840px;
  margin-left: 615px;

  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;

  color: #ffffff;
}

.main-block_dish{
	display: flex;
	margin-left: 130px;
	margin-top: 100px;
}

.main-blok-4-1{
	display: flex;
	grid-template-columns: repeat(4, 1fr);
	padding-left: 160px;
}

.record-9{
	display: flex;
	margin-top: 20px;
	margin-left: -10px;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;

	text-align: center;

	color: #FFFFFF;
}

.record-9-1{
	display: flex;
	margin-top: 20px;
	margin-left: -20px;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;

	text-align: center;

	color: #FFFFFF;
}

.record-9-2{
	display: flex;
	margin-top: 20px;
	margin-left: -30px;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;

	text-align: center;

	color: #FFFFFF;
}

.main-block_dish-2{
	display: flex;
	margin-left: 130px;
	margin-top: 80px;
}

.main-blok-4-2{
	display: flex;
	grid-template-columns: repeat(4, 1fr);
	padding-left: 160px;
}

.record-9-3{
	display: flex;
	margin-top: 20px;
	margin-left: 15px;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;

	text-align: center;

	color: #FFFFFF;
}

.main-block_dish-3{
	display: flex;
	margin-left: 130px;
	margin-top: 80px;
}

.main-blok-4-3{
	display: flex;
	grid-template-columns: repeat(4, 1fr);
	padding-left: 160px;
}

.record-9-4{
	display: flex;
	margin-top: 20px;
	margin-left: 0px;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;

	text-align: center;

	color: #FFFFFF;
}

.main-blok-5{
	Width: 1300px;
  Height:559px;
	display: flex;
	margin-top: 115px;
}

.img-10{
	display: flex;
}

.img-10-2{
	Width: 704px;
  Height:559px;
}

.img-10-3{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -780px;
}

.record-10{
	margin-left: -125px;

	font-family: 'DIN';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;

	color: #333333;
}

.main-blok-6{
	width: 1410px;
	height: 540px;
}

.record-11-1{
	margin-left: 146px;
	margin-top: 140px;

	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 160px;

	color: #5B6460;
}

.record-11-2{
	margin-left: 146px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 65px;

	color: #000000;
}

.record-11-3{
	margin-left: 146px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;

	color: #000000;
}

.record-11-4{
	margin-left: 146px;
}

.record-11-4-1{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;

	color: #000000;
}

.img-11{
	display: flex;
	margin-top: 40px;
	margin-left: 96px;
}

.img-11-1{
	padding-left: 50px;
}

.main-blok-6-2{
	display:block;
	margin-left: 900px;
	margin-top: -300px;
}


.button-2{
	margin-top: -4px;
}

.transition{
	display: block;
	width: 266px;
	height: 100px;

	text-align: center;
	text-decoration: none;

	line-height: 100px;
	border: 1px solid #5B6460;
  background: #5B6460;
  color: #FFFFFF;
}
.transition:hover{
  background: #472a3f;
  transition: all 0.3s ease-in-out;
}

.block{
	display: block;
	Width: 118px;
	Height:100px;

	margin-left: 268px;
	margin-top: -100px;

	background: #E9ECE0;
}

.button-block{
	display: inline-block;
	margin-top: 0px;
}

.block-record-1{
	display: block;
	margin-left: 27px;
	margin-top: 25px;

	font-style: normal;
	font-weight: 300;
	font-size: 12px;

	color: #333333;
}

.block-record-2{
	margin-left: 25px;
	margin-top: 5px;
}

.block-record-3{
	margin-left: 37px;

	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 18px;

	color: #333333;
}

.footer{
	Width: 1408px;
  Height: 577px;

	background: #5B6460;
}

.footer-blok{
	display: flex;
}

.footer-blok-1{

}

.record-12{
	margin-top: 100px;
	margin-left: 146px;

	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;

	color: #FFFFFF;
}

.record-13{
	margin-top: 50px;
	margin-left: 146px;

	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;

	color: #FFFFFF;
}

.img-13{
	margin-top: -25px;
	margin-left: 545px;
}

.img-14{
	margin-top: -10px;
	margin-left: 146px;
}

.record-14{
	margin-left: 146px;
	margin-top: 10px;
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;

	color: #FFFFFF;
}

.record-15{
	margin-left: 146px;
	margin-top: 147px;

	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;

	color: #FFFFFF;
}

.footer-blok-2{

}

.record-16{
	display: flex;
	margin-left: 130px;
	margin-top: 105px;
}

.record-16-1{
	padding-left: 40px;

	font-family: 'DIN';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;

	text-transform: uppercase;

	color: #FFFFFF;
}

.footer-blok-2-1{
	margin-left: 395px;
	margin-top: 40px;
}

@media screen and (max-width: 768px) {
	.header-1{
		min-height: 0;
		background: none;
	}

	.header-record{
		padding-right: 50px;
	}

	.intro{
		margin-top: 110px;
		margin-left: 40px;
	}

	.button{
		justify-content: center;
	}

	.main-blok-4{
		display: block;
		margin-left: 40px;
	}

	.main-block_dish{
		display: block;
		margin-left: 40px;
	}

	.footer-blok{
		display: block;
		margin-left: 40px;
	}
}
